<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>添加联系人</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>删除联系人</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>通知栏添加快捷方式</key>
		<integer>6</integer>
	</dict>
</array>
</plist>
